<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Allow direct access to existing directories and files (including public assets)
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Redirect trailing slashes if not a folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle front controller for everything else
    RewriteRule ^ index.php [L]
</IfModule>